* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #1F3F68;
}
.center{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    padding: 0 113px;
}
.main_padding {
    padding: 0 212px;
    width: 70vw;
    display: flex;
    align-self: center;
}
.main_info {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message_box {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    min-width: 70vw;
    margin: 56px 0 96px 0;
}
.contacts_text, .message_us {
    padding: 64px 0;
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.message_us {
    background: #FFFFFF ;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 540px;
}
.subbox {
    padding: 0 56px;
}
.form {
    width: 100%;
}
.form_text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.form_text {
    margin-top: 32px;
}
.data_input, .data_input_mbox {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.data_input {
    width: 100%;
    height: 72px;
}
.data_input_mbox {
    height: 144px;
}
.contacts_button {
    display: flex;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}
.contacts_button p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.contacts_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.h2_contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
}
.p_text, .opacity_text{
    display: block;
    opacity: 0.6;
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 16px;
    box-sizing: border-box;
}
.adress, .phone, .online_services {
    max-width: 300px;
}
.yandex_map {
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 112px;
}
.top_background {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    width: 100%;
    display: flex;
    justify-content: center;
}
.topcase{
    display: flex;
    flex-direction: column;
    min-height: 768px;
    flex-grow: 1;
    width: 100vw;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_puddings {
    padding: 38px 113px;
}
.mainwords {
    background-image: url(../img/contact_us_bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainwords_paddings {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.text_style_h1 {
    font-weight: 500;
    font-size: 44px;
    line-height: 168%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.text_style {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.mainwords_h1 {
    align-self: center;
    max-width: 780px;
}
.mainpage, .contacts_header{
    display: flex;
    align-items: center;
    padding-top: 34px;
}
.contacts{
    padding-top: 39px;
}
.background{
    flex-grow: 1;
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-position: bottom 60px right 80px;
    background-size: 45%;
}
.greetinfo{
    align-items: center;
}
.index_h1{
    font-size: 64px;
    line-height: 116%;
    font-weight: 300;
    max-width: 510px;
    margin-top: 115px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;
}
.article{
    font-size: 16px;
    line-height: 26px;
    max-width: 425px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-bottom: 71px;
}
.index_button{
    text-decoration: none;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    color: #ffffff;
}
.image{
    margin: 119px 0px 0px 82px;
}
.midcase{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project1, .project2, .project3{
    display: flex;
    flex-direction: column;
    max-width: 359px;
    min-height: 480px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    justify-content: space-around;
}
.project1, .project3 {
    height: 100%;
}
.project2 {
    margin: 0 32px;
}
.p_article{
    padding: 0 32px;
    max-width: 295px;
    margin-bottom: 30px;
}
.index_h2{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    padding: 0 32px;
    margin-bottom: 15px;
    max-width: 295px;
}
.speech_and_lists{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 64px 0;
}
.image2{
    background-image: url(../img/Group\ 15.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.image1, .image2, .image3{
    align-self: center;
}
.image3{
    margin-top: 48px;
}
.image1, .image2{
    margin-top: 44px;
}
.linkbox{
    display: flex;
    flex-direction: row;
    color: #5A98D0;
    padding-left: 32px;
    padding-bottom: 44px;
}
.link_adr{
    text-decoration: none;
    color: #5A98D0;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}
.link_arrow{
    padding-left: 20px;
}
.finished_projects{
    align-items: center;
    justify-content: center;
}
.speech_and_lists_2{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 32px;
}
.project_text{
    max-width: 750px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 64px;
}
.smarthome{
    background-image: url(../img/Mask\ Group.png);
    display: flex;
    max-width: 100vw;
    height: 480px;
    justify-content: right;
    padding-bottom: 32px;
    padding-left: 0px;
}
.link_pic {
    background-size: 100%;
    background-repeat: no-repeat;
}
.plates {
    width: 100vw;
}
.link_SHI{
    text-decoration: none;
}
.SHI{
    padding-top: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: right;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.spark_n_car{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    margin-bottom: 112px;
    flex-grow: 1;
}
.car, .spark {
    display: flex;
    justify-content: right;
}
.spark{
    background-image: url(../img/spark.png);
    max-width: 554px;
    height: 417px;
    margin-right: 16px;
}
.car{
    background-image: url(../img/car.png);
    max-width: 554px;
    height: 417px;
    margin-left: 16px;
}
.snc_link{
    text-decoration: none;
    width: 50%;
}
.snc_text{
    display: flex;
    padding: 32px 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer_background {
    background: #316099;
    width: 100vw;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
}
.text_c_us{
    display: flex;
    flex-direction: column;
}
.footer_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
}
.footer_elem {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 1;
}
.footer{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_center {
    display: flex;
    align-self: center;
}
.footer_talk{
    width: 1140px;
    display: flex;
}
.contact_us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.text_c_us{
    flex-direction: column;
}
.cont_us_h{
    padding-top: 91px;
    max-width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.cont_us_text{
    padding-top: 32px;
    max-width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 96px;
}
.chat_button{
    display: flex;
    text-decoration: none;
    background: #5A98D0;
    margin-top: 165px;
    text-decoration: none;
    align-items: center;
    padding: 15px 80px;
    border-radius: 5px;
}
.chat_button p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.link_footer{
    text-decoration: none;
}
.footer_contacts{
    padding-top: 64px;
    width: 1140px;
}
.border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
}
.rights p{
    display: flex;
    align-items: flex-end;
    font-style: italic;
    padding: 64px 0px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
@media (min-width: 1141px) and (max-width: 1366px) {
    .container{
        padding: 0 32px;
        max-width: 704px;
    }
    .smarthome {
        height: 300px;
    }
    .spark, .car {
        max-width: 336px;
        max-height: 253px;
    }
    .text_c_us {
        max-width: 336px;
    }
    .chat_button {
        padding: 5px 15px;
    }
    .contact_us {
        flex-grow: 1;
    }
    .footer_contacts {
        padding: 0 125px;
    }
    .footer_text {
        flex-direction: column;
    }
    .footer_elem {
        margin-top: 25px;
    }
}
@media (min-width: 769px) and (max-width: 1140px){
    .container{
        padding: 0 32px;
        max-width: 704px;
    }
    .header_puddings {
        padding: 10px 32px;
    }
    .projects{
        flex-direction: column;
        justify-content: center;
    }
    .project1, .project2, .project3{
        margin-top: 32px;
    }
    .speech_and_lists_2 {
        margin-top: 127px;
    }
    .project_text{
        max-width: 520px;
    }
    .smarthome {
        height: 300px;
    }
    .spark, .car {
        max-width: 336px;
        max-height: 253px;
    }
    .text_c_us {
        max-width: 336px;
    }
    .chat_button {
        padding: 5px 15px;
        border-radius: 2px;
    }
    .contact_us {
        flex-grow: 1;
    }
    .footer_contacts {
        padding: 0 125px;
    }
    .footer_text {
        flex-direction: column;
    }
    .footer_elem {
        margin-top: 25px;
    }
    .main_padding {
        padding: 0 112px;
    }
    .message_box {
        flex-direction: column;
        align-items: center;
    }
    .contacts, .message_us {
        min-width: inherit;
    }
    .contacts {
        align-items: center;
    }
}
@media (max-width: 768px) {
    .topcase {
        min-height: 768px;
    }
    .container {
        padding: 0 15px;
        max-width: 100vw;
    }
    .header {
        padding: 16px;
    }
    .header_puddings {
        padding: 10px 16px;
    }
    .mainpage, .contacts_header {
        padding-top: 0px;
    }
    .background {
        background-image: none;
    }
    .greetinfo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .index_h1 {
        font-size: 32px;
        line-height: 37px;
    }
    .article {
        font-size: 16px;
        line-height: 26px;
    }
    .speech_and_lists {
        font-size: 24px;
        line-height: 28px;
        color: black;
    }
    .projects{
        flex-direction: column;
        justify-content: center;
    }
    .project1, .project2, .project3{
        margin-top: 32px;
    }
    .project2 {
        margin: 32px 0 0 0;
    }
    .plates {
        flex-direction: column;
        max-width: 90vw;
    }
    .SHI, .snc_text {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        padding: 16px 16px 0 0;
    } 
    .spark_n_car {
        flex-direction: column;
    }
    .snc_link {
        width: 90vw;
    }
    .smarthome {
        width: 90vw;
        height: 40vw;
        padding-bottom: 0;
    }
    .car, .spark {
        margin: 0;
        max-width: 90vw;
        height: 70vw;
    }
    .contact_us {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cont_us_h {
        font-size: 24px;
        line-height: 28px;
        align-self: center;
    }
    .cont_us_text {
        padding-bottom: 40px;
    }
    .chat_button {
        margin: 65px 0;
        padding: 5 10px;
        border-radius: 5px;
    }
    .footer_contacts {
        width: auto;
    }
    .footer_text {
        flex-direction: column;
        padding: 32px 0 0 0;
    }
    .footer_elem {
        line-height: 19px;
        padding-bottom: 18px;
    }
    .footer {
        align-items: normal;
    }
    .rights {
        align-self: center;
    }
    .rights p {
        padding: 32px 0;
    }
    .mainwords {
        margin-top: 30px;
    }
    .main_padding {
        padding: 0 112px;
        width: 100vw;
    }
    .message_box {
        flex-direction: column;
        align-items: center;
        width: inherit;
        margin: 46px 0 32px 0;
    }
    .message_us {
        padding: 32px 0;
    }
    .contacts, .message_us {
        min-width: inherit;
        width: 90%;
    }
    .contacts {
        align-items: center;
    }
    .contacts_text {
        padding: 32px 0;
    }
    .form_text {
        margin-top: 21px;
    }
    .yandex_map {
        margin-bottom: 32px;
    }
}